@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12 ">
        <div class="card-one-column">
            <div class="col-md-6">
                <h2>Tình hình xử lý hồ sơ</h2>
            </div>
            <div class="col-md-4">
                <select id="disabledSelect" class="form-control">
                    <option>Quận nam từ liêm</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Đổi kỳ</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row mg-bt-0">
    <div class="col-md-12">
        <div class="col-md-4 pd-left-0 pd-right-10 pd-bt-10 mg-left-0">
            <div class="card-column boxshadown">
                <div class="row card-row">
                    <div class="board-logo board-logo-receive">
                        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="board-info">
                        <h3>ĐÃ TIẾP NHẬN</h3>
                        <span class="total">1084</span>
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="chart">
                                <div class="card-percent"><i class="fa fa-sort-asc"></i> <span class="percent-value">20%</span></div>
                                <div id="sparkline-chart1" class="sparkline-chart" data-highcharts-chart="2" style="overflow: hidden;"><div id="highcharts-5npvbvj-30" dir="ltr" class="highcharts-container " style="position: relative; overflow: visible; width: 80px; height: 20px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;overflow:visible;" xmlns="http://www.w3.org/2000/svg" width="80" height="20" viewBox="0 0 80 20"><desc>Created with Highcharts 7.0.3</desc><defs><clipPath id="highcharts-5npvbvj-31"><rect x="0" y="0" width="80" height="16" fill="none"></rect></clipPath></defs><rect fill="#F7F7F7" class="highcharts-background" x="0" y="0" width="80" height="20" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="0" y="2" width="80" height="16"></rect><rect fill="none" class="highcharts-plot-border" data-z-index="1" x="0" y="2" width="80" height="16"></rect><g class="highcharts-grid highcharts-xaxis-grid " data-z-index="1"></g><g class="highcharts-grid highcharts-yaxis-grid " data-z-index="1"><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 0 18.5 L 80 18.5" opacity="1"></path></g><g class="highcharts-axis highcharts-xaxis " data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" data-z-index="7" d="M 0 18.5 L 80 18.5"></path></g><g class="highcharts-axis highcharts-yaxis " data-z-index="2"><path fill="none" class="highcharts-axis-line" data-z-index="7" d="M 0 2 L 0 18"></path></g><g class="highcharts-series-group" data-z-index="3"><g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-area-series highcharts-color-0 " transform="translate(0,2) scale(1 1)" clip-path="url(#highcharts-5npvbvj-31)"><path fill="rgba(80,180,50,0.75)" d="M 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746 L 79.21568627451 16 L 59.607843137255 16 L 40 16 L 20.392156862745 16 L 0.7843137254902 16" class="highcharts-area" data-z-index="0"></path><path fill="none" d="M 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746" class="highcharts-graph" data-z-index="1" stroke="#50B432" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M -9.2156862745098 12.444444444444445 L 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746 L 89.21568627451 13.46031746031746" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-area-series highcharts-color-0 highcharts-tracker " transform="translate(0,2) scale(1 1)"></g></g><text x="40" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text><text x="40" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="24"></text><g class="highcharts-axis-labels highcharts-xaxis-labels " data-z-index="7"></g><g class="highcharts-axis-labels highcharts-yaxis-labels " data-z-index="7"></g></svg></div></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="board-progress">
                                <div class="float-left">
                                    <span class=""> Trực tuyến</span>
                                    <span class="board-process-number-data">900</span>
                                </div>
                                <div class="float-right">
                                    <i class="fa fa-television  border-icon1" aria-hidden="true"></i>
                                </div>
                                <div class="progress mg-bt-0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        50%
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4  pd-right-10  pd-left-10 pd-bt-10">
            <div class="card-column boxshadown">
                <div class="row card-row">
                    <div class="board-logo board-logo-receive">
                        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="board-info">
                        <h3>XỬ LÝ</h3>
                        <span class="total">1084</span>
                    </div>
                </div>
                <div class="row card-row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="chart">
                                <div class="card-percent"><i class="fa fa-sort-asc"></i> <span class="percent-value">20%</span></div>
                                <div id="sparkline-chart2" class="sparkline-chart" data-highcharts-chart="3" style="overflow: hidden;"><div id="highcharts-5npvbvj-39" dir="ltr" class="highcharts-container " style="position: relative; overflow: visible; width: 80px; height: 20px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;overflow:visible;" xmlns="http://www.w3.org/2000/svg" width="80" height="20" viewBox="0 0 80 20"><desc>Created with Highcharts 7.0.3</desc><defs><clipPath id="highcharts-5npvbvj-40"><rect x="0" y="0" width="80" height="16" fill="none"></rect></clipPath></defs><rect fill="#F7F7F7" class="highcharts-background" x="0" y="0" width="80" height="20" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="0" y="2" width="80" height="16"></rect><rect fill="none" class="highcharts-plot-border" data-z-index="1" x="0" y="2" width="80" height="16"></rect><g class="highcharts-grid highcharts-xaxis-grid " data-z-index="1"></g><g class="highcharts-grid highcharts-yaxis-grid " data-z-index="1"><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 0 18.5 L 80 18.5" opacity="1"></path></g><g class="highcharts-axis highcharts-xaxis " data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" data-z-index="7" d="M 0 18.5 L 80 18.5"></path></g><g class="highcharts-axis highcharts-yaxis " data-z-index="2"><path fill="none" class="highcharts-axis-line" data-z-index="7" d="M 0 2 L 0 18"></path></g><g class="highcharts-series-group" data-z-index="3"><g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-area-series highcharts-color-0 " transform="translate(0,2) scale(1 1)" clip-path="url(#highcharts-5npvbvj-40)"><path fill="rgba(80,180,50,0.75)" d="M 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746 L 79.21568627451 16 L 59.607843137255 16 L 40 16 L 20.392156862745 16 L 0.7843137254902 16" class="highcharts-area" data-z-index="0"></path><path fill="none" d="M 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746" class="highcharts-graph" data-z-index="1" stroke="#50B432" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M -9.2156862745098 12.444444444444445 L 0.7843137254902 12.444444444444445 L 20.392156862745 0.7619047619047628 L 40 9.396825396825397 L 59.607843137255 7.8730158730158735 L 79.21568627451 13.46031746031746 L 89.21568627451 13.46031746031746" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-area-series highcharts-color-0 highcharts-tracker " transform="translate(0,2) scale(1 1)"></g></g><text x="40" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text><text x="40" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="24"></text><g class="highcharts-axis-labels highcharts-xaxis-labels " data-z-index="7"></g><g class="highcharts-axis-labels highcharts-yaxis-labels " data-z-index="7"></g></svg></div></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="board-progress">
                                <div class="float-left">
                                    <span class=""> Trực tuyến</span>
                                    <span class="board-process-number-data">900</span>
                                </div>
                                <div class="float-right">
                                    <i class="fa fa-television  border-icon1" aria-hidden="true"></i>
                                </div>
                                <div class="progress mg-bt-0">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                        50%
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pd-right-0  pd-left-10 pd-bt-10">
            <div class="card-column boxshadown">
                <div class="row card-row">
                    <div class="col-md-4">
                        <div class="board-logo">
                            <div id="pie-chart" class="pie-chart" style="width: 100px; height: 100px; overflow: hidden;" data-highcharts-chart="1"><div id="highcharts-5npvbvj-25" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 100px; height: 100px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><desc>Created with Highcharts 7.0.3</desc><defs><clipPath id="highcharts-5npvbvj-29"><rect x="0" y="0" width="80" height="75" fill="none"></rect></clipPath></defs><rect fill="#F7F7F7" class="highcharts-background" x="0" y="0" width="100" height="100" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="10" y="10" width="80" height="75"></rect><rect fill="none" class="highcharts-plot-border" data-z-index="1" x="10" y="10" width="80" height="75"></rect><g class="highcharts-series-group" data-z-index="3"><g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker" transform="translate(10,10) scale(1 1)"><path fill="#50B432" d="M 39.99032552282448 -9.999999014784109 A 47.5 47.5 0 0 1 85.19217021793656 52.12592735497644 L 62.59608510896828 44.81296367748822 A 23.75 23.75 0 0 0 39.99516276141224 13.750000492607946 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-0"></path><path fill="#ED561B" d="M 85.17752169693601 52.17111220469928 A 47.5 47.5 0 0 1 -5.1540984098884906 52.24304570942198 L 17.422950795055755 44.87152285471099 A 23.75 23.75 0 0 0 62.588760848468006 44.83555610234964 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-1"></path><path fill="#058DC7" d="M -5.168818876093411 52.19788424701554 A 47.5 47.5 0 0 1 39.9340234529416 -9.999954179927776 L 39.9670117264708 13.750022910036112 A 23.75 23.75 0 0 0 17.415590561953294 44.84894212350777 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-2"></path></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-pie-series " transform="translate(10,10) scale(1 1)"></g></g><text x="50" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="88"></text><text x="50" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="24"></text><g class="highcharts-legend" data-z-index="7"><rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="8" height="8" visibility="hidden"></rect><g data-z-index="1"><g></g></g></g></svg></div></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="satisfied">
                            <div class="board-label">
                                <h3>MỨC ĐỘ HÀI LÒNG</h3>
                            </div>
                            <div class="list-satisfied">
                                <ul>
                                    <li><span class="label-satisfied"><i class="good fa fa-circle bullet"></i> <span>Hài lòng</span></span><i class="ss-up fa fa-arrow-up"></i><span>30%</span></li>
                                    <li><span class="label-satisfied"><i class="normal fa fa-circle bullet"></i> <span>Bình thường</span></span><i class="ss-down fa fa-arrow-down"></i><span>40%</span></li>
                                    <li><span class="label-satisfied"><i class="bad fa fa-circle bullet"></i> <span>Không hài lòng</span></span><i class="ss-up fa fa-arrow-up"></i><span>30%</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-lg-8 pd-top-10 pd-left-0">
            <!-- Example Bar Chart Card-->
            <div id="home-bar-chart" class="boxshadown">
                <div class="car-header text-right">
                    <div class="zoom-chart"><i class="fa fa-search-plus border-icon" aria-hidden="true"></i> Phóng to</div>
                    <div class="detail-chart"><i class="fa fa-plus-circle background-icon" aria-hidden="true"></i> Xem chi tiết</div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div id="column-chart" style="width: 100%; overflow: hidden;" data-highcharts-chart="0"><div id="highcharts-5npvbvj-0" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 703px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="703" height="400" viewBox="0 0 703 400"><desc>Created with Highcharts 7.0.3</desc><defs><clipPath id="highcharts-5npvbvj-1"><rect x="0" y="0" width="648" height="252" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="703" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="45" y="53" width="648" height="252"></rect><g class="highcharts-grid highcharts-xaxis-grid " data-z-index="1"><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 137.5 53 L 137.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 229.5 53 L 229.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 322.5 53 L 322.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 414.5 53 L 414.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 507.5 53 L 507.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 599.5 53 L 599.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 692.5 53 L 692.5 305" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 44.5 53 L 44.5 305" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid " data-z-index="1"><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 45 305.5 L 693 305.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 45 242.5 L 693 242.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 45 179.5 L 693 179.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 45 116.5 L 693 116.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 45 52.5 L 693 52.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" x="45" y="53" width="648" height="252"></rect><g class="highcharts-axis highcharts-xaxis " data-z-index="2"><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 137.5 305 L 137.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 229.5 305 L 229.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 322.5 305 L 322.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 414.5 305 L 414.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 507.5 305 L 507.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 599.5 305 L 599.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 693.5 305 L 693.5 315" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 44.5 305 L 44.5 315" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" data-z-index="7" d="M 45 305.5 L 693 305.5"></path></g><g class="highcharts-axis highcharts-yaxis " data-z-index="2"><path fill="none" class="highcharts-axis-line" data-z-index="7" d="M 45 53 L 45 305"></path></g><path fill="none" class="highcharts-crosshair highcharts-crosshair-category undefined" data-z-index="2" stroke="rgba(204,214,235,0.25)" stroke-width="92.57142857142857" style="pointer-events:none;" visibility="hidden" d="M 646.5 53 L 646.5 305"></path><g class="highcharts-series-group" data-z-index="3"><g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-color-0 highcharts-tracker " transform="translate(45,53) scale(1 1)" clip-path="url(#highcharts-5npvbvj-1)"><rect x="24" y="190" width="17" height="63" fill="rgb(80,180,50)" class="highcharts-point highcharts-color-0 "></rect><rect x="117" y="163" width="17" height="90" fill="#50B432" class="highcharts-point highcharts-color-0"></rect><rect x="209" y="119" width="17" height="134" fill="#50B432" class="highcharts-point highcharts-color-0"></rect><rect x="302" y="90" width="17" height="163" fill="rgb(80,180,50)" class="highcharts-point highcharts-color-0 "></rect><rect x="394" y="72" width="17" height="181" fill="rgb(80,180,50)" class="highcharts-point highcharts-color-0 "></rect><rect x="487" y="31" width="17" height="222" fill="rgb(80,180,50)" class="highcharts-point highcharts-color-0 "></rect><rect x="579" y="82" width="17" height="171" fill="rgb(80,180,50)" class="highcharts-point highcharts-color-0 "></rect></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-column-series highcharts-color-0 " transform="translate(45,53) scale(1 1)" clip-path="none"></g><g data-z-index="0.1" class="highcharts-series highcharts-series-1 highcharts-column-series highcharts-color-1 highcharts-tracker " transform="translate(45,53) scale(1 1)" clip-path="url(#highcharts-5npvbvj-1)"><rect x="52" y="148" width="17" height="105" fill="rgb(237,86,27)" class="highcharts-point highcharts-color-1 "></rect><rect x="144" y="154" width="17" height="99" fill="#ED561B" class="highcharts-point highcharts-color-1"></rect><rect x="237" y="129" width="17" height="124" fill="#ED561B" class="highcharts-point highcharts-color-1"></rect><rect x="330" y="135" width="17" height="118" fill="rgb(237,86,27)" class="highcharts-point highcharts-color-1 "></rect><rect x="422" y="119" width="17" height="134" fill="rgb(237,86,27)" class="highcharts-point highcharts-color-1 "></rect><rect x="515" y="147" width="17" height="106" fill="rgb(237,86,27)" class="highcharts-point highcharts-color-1 "></rect><rect x="607" y="121" width="17" height="132" fill="rgb(237,86,27)" class="highcharts-point highcharts-color-1 "></rect></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-1 highcharts-column-series highcharts-color-1 " transform="translate(45,53) scale(1 1)" clip-path="none"></g><g data-z-index="0.1" class="highcharts-series highcharts-series-2 highcharts-spline-series highcharts-color-2 " transform="translate(45,53) scale(1 1)" clip-path="url(#highcharts-5npvbvj-1)"><path fill="none" d="M 46.285714285714 190.386 C 46.285714285714 190.386 101.82857142856959 203.112 138.85714285714 203.112 C 175.885714285712 203.112 194.399999999998 203.112 231.42857142857 202.482 C 268.457142857142 201.852 286.97142857142796 201.7764 324 199.836 C 361.02857142857204 197.8956 379.542857142858 194.418 416.57142857143 192.78 C 453.600000000002 191.142 472.114285714288 192.78 509.14285714286 191.142 C 546.171428571432 189.504 601.71428571429 177.66 601.71428571429 177.66" class="highcharts-graph" data-z-index="1" stroke="#058DC7" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M 36.285714285714 190.386 L 46.285714285714 190.386 C 46.285714285714 190.386 101.82857142856959 203.112 138.85714285714 203.112 C 175.885714285712 203.112 194.399999999998 203.112 231.42857142857 202.482 C 268.457142857142 201.852 286.97142857142796 201.7764 324 199.836 C 361.02857142857204 197.8956 379.542857142858 194.418 416.57142857143 192.78 C 453.600000000002 191.142 472.114285714288 192.78 509.14285714286 191.142 C 546.171428571432 189.504 601.71428571429 177.66 601.71428571429 177.66 L 611.71428571429 177.66" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g data-z-index="0.1" class="highcharts-markers highcharts-series-2 highcharts-spline-series highcharts-color-2 highcharts-tracker" transform="translate(45,53) scale(1 1)"><path fill="#058DC7" visibility="hidden" d="M 601 177.66 A 0 0 0 1 1 601 177.66 Z" class="highcharts-halo highcharts-color-2" data-z-index="-1" fill-opacity="0.25"></path><path fill="#058DC7" d="M 607 177.66 A 6 6 0 1 1 606.9999970000002 177.65400000099999 Z" stroke="#ffffff" stroke-width="1" visibility="hidden"></path></g></g><text x="352" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24"><tspan>false</tspan></text><text x="352" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="52"></text><g class="highcharts-legend" data-z-index="7" transform="translate(197,356)"><rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="309" height="29" visibility="visible"></rect><g data-z-index="1"><g><g class="highcharts-legend-item highcharts-column-series highcharts-color-0 highcharts-series-0" data-z-index="1" transform="translate(8,3)"><text x="21" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2" y="15"><tspan>Đúng hạn</tspan></text><rect x="2" y="4" width="12" height="12" fill="#50B432" rx="6" ry="6" class="highcharts-point" data-z-index="3"></rect></g><g class="highcharts-legend-item highcharts-column-series highcharts-color-1 highcharts-series-1" data-z-index="1" transform="translate(106.84375,3)"><text x="21" y="15" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2"><tspan>Trễ hạn</tspan></text><rect x="2" y="4" width="12" height="12" fill="#ED561B" rx="6" ry="6" class="highcharts-point" data-z-index="3"></rect></g><g class="highcharts-legend-item highcharts-spline-series highcharts-color-2 highcharts-series-2" data-z-index="1" transform="translate(193.53125,3)"><path fill="none" d="M 0 11 L 16 11" class="highcharts-graph" stroke="#058DC7" stroke-width="2"></path><text x="21" y="15" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2"><tspan>Tỷ lệ đúng hạn</tspan></text></g></g></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels " data-z-index="7"><text x="91.28571428571573" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Bổ sung tư</tspan><tspan dy="14" x="91.28571428571573">pháp</tspan></text><text x="183.85714285714573" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Chứng thực</tspan></text><text x="276.4285714285757" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Hộ tịch</tspan></text><text x="368.99999999999574" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Nuôi con nuôi</tspan></text><text x="461.5714285714257" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Quốc tịch</tspan></text><text x="554.1428571428556" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Trợ giúp pháp</tspan><tspan dy="14" x="554.1428571428556">lý</tspan></text><text x="646.7142857142857" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="middle" transform="translate(0,0)" y="324" opacity="1"><tspan>Giáo dục pháp</tspan><tspan dy="14" x="646.7142857142857">luật</tspan></text></g><g class="highcharts-axis-labels highcharts-yaxis-labels " data-z-index="7"><text x="30" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="309" opacity="1">0</text><text x="30" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="246" opacity="1">50</text><text x="30" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="183" opacity="1">100</text><text x="30" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="120" opacity="1">150</text><text x="30" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="57" opacity="1">200</text></g><g class="highcharts-label highcharts-tooltip highcharts-color-0" style="pointer-events:none;white-space:nowrap;" data-z-index="8" transform="translate(464,-9999)" opacity="0" visibility="visible"><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 85.5 C 163.5 88.5 163.5 88.5 160.5 88.5 L 3.5 88.5 C 0.5 88.5 0.5 88.5 0.5 85.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 85.5 C 163.5 88.5 163.5 88.5 160.5 88.5 L 3.5 88.5 C 0.5 88.5 0.5 88.5 0.5 85.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 85.5 C 163.5 88.5 163.5 88.5 160.5 88.5 L 3.5 88.5 C 0.5 88.5 0.5 88.5 0.5 85.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path><path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 160.5 0.5 C 163.5 0.5 163.5 0.5 163.5 3.5 L 163.5 85.5 C 163.5 88.5 163.5 88.5 160.5 88.5 L 3.5 88.5 C 0.5 88.5 0.5 88.5 0.5 85.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#50B432" stroke-width="1"></path></g></svg><div class="highcharts-label highcharts-tooltip highcharts-color-0" style="position: absolute; left: 464px; top: -9999px; opacity: 0; pointer-events: none; visibility: visible;"><span data-z-index="1" style="position: absolute; font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif; font-size: 12px; white-space: nowrap; color: rgb(51, 51, 51); cursor: default; margin-left: 0px; margin-top: 0px; left: 8px; top: 8px;"><span style="font-size:10px">Giáo dục pháp luật</span><table><tbody><tr><td style="color:#50B432;padding:0">Đúng hạn: </td><td style="padding:0"><b>135.6 mm</b></td></tr><tr><td style="color:#ED561B;padding:0">Trễ hạn: </td><td style="padding:0"><b>105.0 mm</b></td></tr><tr><td style="color:#058DC7;padding:0">Tỷ lệ đúng hạn: </td><td style="padding:0"><b>59.0 mm</b></td></tr></tbody></table></span></div></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pd-left-10 pd-top-10 pd-right-0">
            <table class="table table-bordered table-grey boxshadown" id="remindword">
                <thead>
                    <tr>
                        <th class="text-center" style="width:150px;">
                            <i class="fa fa-clock-o mg-right-10"></i>Nhắc việc
                        </th>
                        <th class="text-center">Chưa đến hạn</th>
                        <th class="text-center">Đến hạn</th>
                        <th class="text-center">Quá hạn</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiếp nhận</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Đang được xử lý</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Chờ bổ sung</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Chờ trả kết quả</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Chờ xin ý kiến</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Tiếp nhận</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Duyệt hủy hồ sơ</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                    <tr>
                        <td>Duyệt thư xin lỗi</td>
                        <td class="text-center undue">23</td>
                        <td class="text-center due">12</td>
                        <td class="text-center out-of-date">5</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>